@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-gray-100 antialiased;
}

/* Custom scrollbar for data tables */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-surface;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
